@font-face {
   font-family: 'TagalogStylized-GOJeq';
   font-display: swap;
   src: url('TagalogStylized-GOJeq/font.ttf');
}
@font-face {
   font-family: 'Architex';
   font-display: swap;
   src: url('Architex/font.ttf');
}
@font-face {
   font-family: 'Brave Heart';
   font-display: swap;
   src: url('Brave Heart/font.ttf');
}
