@font-face {
   font-family: 'Brave Heart';
   font-display: swap;
   src: url('file:///C:/Users/USER/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-11-30_123620/fonts/Brave%20Heart/font.ttf');
}
