@font-face {
   font-family: 'TagalogStylized-GOJeq';
   font-display: swap;
   src: url('file:///C:/Users/USER/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-11-30_123620/fonts/TagalogStylized-GOJeq/font.ttf');
}
